<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">

<form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <div class="input">
          <ion-item  color="transparent">
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input color="light" type="text" formControlName="email"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="4">
        <div class="input">
          <ion-item  color="transparent">
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input color="light" type="password" formControlName="password" class="form-controll" required></ion-input>
        </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4" class="ion-text-center"> 
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
               {{ validation.message }}
          </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="4" class="ion-text-center">
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button class="submit-btn" fill="solid" (click)="googleLogin()"><ion-icon slot="start" name="logo-google"></ion-icon>Sign In With Google</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<p class="go-to-register">
  No account yet? <br>
  <ion-button (click)="goToRegisterPage()">Register Now</ion-button>
</p>
<label class="error-message">{{ errorMessage }} </label>
</ion-content>
