<ion-header>
  <ion-toolbar class='header'>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="logo" ><label style="font-size:2vw;"><a routerLink="/menu/home/">LANGER FOR HUNGER</a> </label></ion-title>

    <ion-buttons class="nav-btns" slot="end">
    <ng-container *ngIf="isMobile === false"> 
      <div *ngFor='let b of buttons'>
        <div *ngIf =" !( currentUrl === b.url ) ">
          <ion-button fill="solid" color="primary" routerLink='{{ b.url }}'>{{ b.title }}</ion-button>
        </div>
      </div>
    </ng-container>
      </ion-buttons>
  </ion-toolbar>
</ion-header>