<app-header></app-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
<ion-item-group >
  <!-- Item as a Button -->
<ion-item button (click)="UserMgmtClick()">
  <ion-label>
    User Management
  </ion-label>
</ion-item>
<ion-item button (click)="EventMgmtClick()">
  <ion-label>
    Event Management
  </ion-label>
</ion-item><ion-item button (click)="DonationClick()">
  <ion-label>
    Donations Management
  </ion-label>
</ion-item>
</ion-item-group>
<ng-container *ngIf="userMgmtclick"> 
  <ion-list-header>
    <ion-label>UserName</ion-label>
    <ion-label > Admin</ion-label>
  </ion-list-header>
    <ion-list  >
      <ion-item *ngFor="let user of users1$ | async" (click)="OnUserClick(user)">
        <ion-label>{{user.email}}</ion-label>
        <ion-checkbox  slot="end" [(ngModel)]="user.isAdmin"></ion-checkbox>
      </ion-item>
    </ion-list>
</ng-container> 
<ng-container *ngIf="eventMgmtClick"> 
<ion-list >
  <ion-item>
    <ion-label>eventMgmtClick</ion-label>
  </ion-item>
</ion-list>
</ng-container> 
<ng-container *ngIf="donationClick"> 
  <ion-list >
  <ion-item>
    <ion-label >donationClick</ion-label>
  </ion-item>
</ion-list>
</ng-container> 



</ion-content>

<ion-footer *ngIf="userMgmtclick">
    <ion-button Slots="start" (click)="SaveClick()">Save</ion-button>
  </ion-footer>
