<app-header></app-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <!-- Item as a Button -->
<ion-item button (click)="buttonClick()">
  <ion-label>
    User Management
  </ion-label>
</ion-item>
<ion-item button (click)="buttonClick()">
  <ion-label>
    Event Management
  </ion-label>
</ion-item><ion-item button (click)="buttonClick()">
  <ion-label>
    Donations Management
  </ion-label>
</ion-item>




</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>
      ADMIN
    </ion-title>
  </ion-toolbar>
</ion-footer>
