
<ion-header  *ngIf="user$ | async; let user">
  <ion-toolbar >
    <ion-title >Welcome, {{user.email}}</ion-title>
  </ion-toolbar>
</ion-header>
<app-header></app-header> 

<ion-content  *ngIf="user$ | async; let user" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        Your Registered EmailID : {{user.email}}
        Your Role is : {{user.role}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer (click)="logout()" style="cursor: pointer;">
    <ion-toolbar color="secondary">
      <ion-title>Log out</ion-title>
      </ion-toolbar>
</ion-footer>
