<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button> 
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" offset="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact Us: Email</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Send an email to blablabla@l4h.com
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact Us: Phone</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              For more information, you can contact us at +1 (111)-111-1111
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-footer>
